.page {
    background-color: #fbfbfb;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.quote {
    font-family: Helvetica, Prompt;
    color: #fbfbfb;
    align-items: center;
    text-align: start;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    font-size: 3em;
}

h1 {
    color: #221f52;
    text-align: center;
    text-decoration: none;
    font-family: "Prompt";
    margin-bottom: 3em;
}

.hero > img {
    width: 100%;
    height: 100%;
}

.hero {
    position: relative;
    flex: 6;
    height: 100%;
}

.main {
    flex: 4;
}